/* @tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7faf7;
  color: #1f2937;
} */



@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f7faf7;
  color: #1f2937;
}

@keyframes modalPop {
  0% {
    transform: scale(0.78) translateY(16px);
    opacity: 0;
  }
  60% {
    transform: scale(1.03) translateY(0);
    opacity: 1;
  }
  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

.animate-modal {
  animation: modalPop 0.28s ease-out forwards;
}